.mainContainer{
  width: 100%;
  max-width: 1180px;
  height: 100%;

  margin: 0 auto;

  padding: 2.4rem;
  
  background: var(--content);

  > section{
    width: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;

    > img{
      border-radius: 10px;
    }

    > h2{
      font-size: 1.2rem;
      font-weight: 700;
      color: var(--title);
    }
  }
}

.topCards{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1rem;
  
  margin-top: 1.2rem;
  
  > div{
    width: 100%;
    max-width: 205px;
    height: 150px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h3{
      color: var(--text);
    }

    strong{
      color: var(--title);
    }
  }
}

.bottomCards{
  width: 100%;
  height: fit-content;

  margin-top: 3rem;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  > div{
    padding: 1rem;

    width: fit-content;
    height: 100%;
    max-height: 235px;

    
    strong{
      color: var(--title);
    }
    
    h4{
      color: var(--text);
    }
  }
}

@media(max-width: 768px){
  .mainContainer{
    height: fit-content;
  }

  .bottomCards{
    justify-content: center;
    margin-top: 1rem;
  }
}